.qAndA {
	width: 80%;
	margin: auto;
	/* border: 2px solid red; */
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-custom {
	background: linear-gradient(180deg, #343a40ff, #343a40cc);
}

.mainDiv {
	border: 2px solid gray;
	border-radius: 5px;
	width: 40%;
	margin: 0 auto;
	padding: 10px 20px;
	margin-bottom: 30px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
}

.jumbotron {
	padding-bottom: 1em;
	padding-top: 0;
	/* margin-top: 1em; */
	background: none;
	text-shadow: 2px 2px 1px rgba(200, 200, 200, 1);
	/* color: #343a40 */
	background: linear-gradient(#343a40cc, #ffffff00);
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(rgba(52, 58, 64, 0.01), rgba(52, 58, 64, 1));
}

.copyrightP {
	color: rgba(255, 255, 255, 0.7);
}

.opacityFooter {
	color: rgba(255, 255, 255, 0.9);
}
