{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div>

    <div>
        <h1 style="text-align: center">Create New Question</h1>
    </div>

    <div style="width:20%; margin: 30px auto;">
        <form action="." method="post">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag}}
                    {{ field | add_class:"form-control" }}
                    {% for error in field.errors %}
                    <div style="color: red">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}

                {% for error in form.non_field_errors %}
                <div style="color: red">{{ error }}</div>
                {% endfor %}

                <div class="form-group">
                    <input type="submit" value="Submit Question!" class="btn btn-lg btn-default btn-block btn-primary"/>
                </div>
            </fieldset>
        </form>
    </div>

</div>

{% endblock %}
