{% extends "base.html" %}
{% load widget_tweaks %}
{% load get_item %}

{% block content %}

<div class="qAndA">
    <div class="questionDiv">
        <p class="questionPara">{{ question.question }}</p>
        <p class="questioner">By {{ question.user.first_name }} {{ question.user.last_name }}</p>
    </div>

    {% for answer in answers %}

    <div class="answerDiv">
        <p class="answerPara">{{ answer.answer }}</p>

        {% if answer.id in total_votes %}
        <p>{{total_votes|get_item:answer.id}} votes</p>
        {% else %}
        <p>0 votes</p>
        {% endif %}

        {% if answer in voted %}
        <p>Voted</p>
        {% else %}
        <p>Not Voted</p>
        {% endif %}

        <p class="answerer">By {{ answer.user.username }}</p>
    </div>

    {% endfor %}
</div>

{% endblock %}