{% extends "base_login.html" %}
{% load widget_tweaks %}
{% load static %}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<style>
    .login-div {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            url("{% static 'img/delete_account.jpg' %}");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: contain;
        min-height: 100%;
        min-width: 100%;
    }






</style>

{% endblock %}

{% block content %}

<div class="mainDiv">

    <div>
        <h1 style="text-align: center">Are you sure you want to delete your account?</h1>
        <p style="text-align: center">This action is not reversible and we will delete all your data</p>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-danger">
                    Delete My Account!
                </button>
            </div>
        </fieldset>
    </form>
</div>


{% endblock %}
