{% extends "base_login.html" %}
{% load widget_tweaks %}
{% load static %}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<style>
    .login-div {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
            url("{% static 'img/welcomeBack.jpg' %}");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: contain;
        min-height: 100%;
        min-width: 100%;
    }



</style>

{% endblock %}

{% block content %}

<div class="mainDiv">

    <div>
        <h1 style="text-align: center">Login</h1>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field | add_class:"form-control" }}
                {% for error in field.errors %}
                <div style="color: red">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
            <div style="color: red">{{ error }}</div>
            {% endfor %}

            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">
                    Login!
                </button>
            </div>
        </fieldset>
    </form>
    <a href="/">Go Back</a>
    <a href="/user/register" style="float: right;">New User? Sign up here.</a>
</div>


{% endblock %}
