{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/base_temp.css' %}"/>
<style>
    body {
        background: url(" {% static 'img/hiThere.jpg' %} ");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: contain;
        min-height: 100%;
    }

</style>

{% endblock %}

{% block content %}

<div class="mainDiv">

    <h1 style="text-align:center">
        Sign Up
    </h1>

    <form action="." method="post">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag}}
                {{ field | add_class:"form-control" }}
                {% for error in field.errors %}
                <div style="color: red">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
            <div style="color: red">{{ error }}</div>
            {% endfor %}

            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">
                    Sign Up!
                </button>
            </div>
        </fieldset>
    </form>
    <a href="/">Go Back</a>
    <a href="/user/login" style="float: right;">Existing User? Login here.</a>
</div>


{% endblock %}
