{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AskAway</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    {% block styles %}
    {% endblock %}

</head>
<body>
<div class="semi-body">
    <nav
            class="navbar navbar-expand-lg navbar-dark navbar-custom"
    >
        <a class="navbar-brand" href=""
        ><img src="{% static 'img/ask.png' %}" alt="logo" class="logo"> AskAway</a
        >
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#collapsingContent"
                aria-controls="collapsingContent"
                aria-expanded="false"
        >
					<span class="navbar-toggler-icon">
					</span>
        </button>

        <div class="collapse navbar-collapse" id="collapsingContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="" title="Click here to go to the Home Page.">Home</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-white text-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello {{ user.first_name }} {{ user.last_name }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/user/me">View Me</a>
                            <a class="dropdown-item" href="/questions/create">Create A New Question</a>
                            <a class="dropdown-item" href="/user/update">Update User Details</a>
                            <a class="dropdown-item" href="/user/update_password">Update Password</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <form action="/user/logout/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Logout" class="btn btn-link">
                    </form>
                </li>
            </ul>

            {% else %}

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/login/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register/">Sign Up</a>
                </li>
            </ul>

            {% endif %}
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container align-self-center">
            <h1 class="display-4">
                <img src="{% static 'img/ask_1.png' %}" alt="logo"> AskAway
            </h1>
            <p class="lead">
                The perfect place to find the answer to all your burning
                questions!

            </p>
        </div>
    </div>


    {% block content %}
    {% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="opacityFooter">Home</a></li>
                    <li><a href="login.html" class="opacityFooter">Login</a></li>
                    <li><a href="register.html" class="opacityFooter">Sign Up</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Contact Us</h5>
                <address>
                    <i class="fa fa-phone fa-lg"></i> : <span class="opacityFooter">+022 2313 6787</span><br>
                    <i class="fa fa-envelope fa-lg"></i> :
                    <a href="mailto:askaway@question.net" class="opacityFooter">askaway@question.net</a>
                </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
                            class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                            class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                            class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                            class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i
                            class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="copyrightP">© Copyright 2020 AskAway</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/ba5d62628a.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
